.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
    color: black;
}

body {
    background-size: cover;
}

#song_name {
    color: rgb(255, 255, 255);
}

canvas {
   border: black;
   border-radius: 20px;
   box-shadow: rgb(41, 41, 41);
}